<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <app-header></app-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/sobre" class="nav-link">Sobre</a>
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/produtos" class="nav-link">Produtos</a>
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/contato" class="nav-link">Contato</a>
    </nav>
    <a class="btn btn-primary me-1 my-1" href="">Cadastrar</a>
    <a class="btn btn-outline-primary me-1 my-1" href="">Log-In</a>
</div>