<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        <h2>Quem somos <span class="text-muted">Nós?</span></h2>
        <p class="lead">A Bard and Bird é uma livraria com tradição e amor pelo que faz. Aqui você encontrará clássicos da literatura, com mais de uma história para contar. Quer saber como? Procure a gente!</p>
        <img src="https://github.com/fernandosserra/bb-bookstore/blob/main/src/assets/images/bblogo.png?raw=true" class="img-fluid" alt="A beautiful Cat">
    </div>
</div>

